<footer>
    <div class="content-area footer--upper">
        <div class="column-wrapper">
            <div class="column-large-1 column-medium-1 column-small-1 xsmall--hidden">
                {% block footer_logo %}
                    <a href="#">
                        <img src="{{ logo_footer }}" alt="UCSF" class="footer--logo" />
                    </a>
                {% endblock %}
            </div>
            <div class="column-large-3 column-medium-3 column-small-3 xsmall--hidden">
                {% block left_section %}
                    {% if footer.left_section.title %}
                        <div class="footer--column-title">
                            {{ footer.left_section.title }}
                        </div>
                    {% endif %}
                    {% if footer.left_section.content %}
                    <div class="footer--column-content">
                        <p>{{ footer.left_section.content }}</p>
                    </div>
                    {% endif %}
                    {% if footer.left_section.links %}
                        <div class="footer--column-links">
                            {% for links in footer.left_section.links  %}
                                <ul class="list--unstyled">
                                    {% for item in links %}
                                        <li><a href="{{ item.link }}">{{ item.label }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
            <div class="column-large-4 column-medium-4 column-small-4">
                {% block center_section %}
                    {% if footer.center_section.title %}
                        <div class="footer--column-title">
                            {{ footer.center_section.title }}
                        </div>
                    {% endif %}
                    {% if footer.center_section.content %}
                        <div class="footer--column-content">
                            <p>{{ footer.center_section.content }}</p>
                        </div>
                    {% endif %}
                    {% if footer.center_section.links %}
                        <div class="footer--column-links">
                            {% for links in footer.center_section.links  %}
                                <ul class="list--unstyled">
                                    {% for item in links %}
                                        <li><a href="{{ item.link }}">{{ item.label }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
            <div class="column-large-3 column-medium-3 column-small-3 xsmall--visible">
                {% block left_section_mobile %}
                    {% if footer.left_section.title %}
                        <div class="footer--column-title">{{ footer.left_section.title }}</div>
                    {% endif %}
                    {% if footer.left_section.content %}
                    <div class="footer--column-content">
                        <p>{{ footer.left_section.content }}</p>
                    </div>
                    {% endif %}
                    {% if footer.left_section.links %}
                            <div class="footer--column-links">
                            {% for links in footer.left_section.links  %}
                                <ul class="list--unstyled">
                                    {% for item in links %}
                                        <li><a href="{{ item.link }}">{{ item.label }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>

            <div class="column-large-3 column-large-offset-1 column-medium-3 column-medium-offset-1 column-small-3 column-small-offset-1">
                {% block right_section %}
                    {% if footer.right_section.title %}
                        <div class="footer--column-title">{{ footer.right_section.title }}</div>
                    {% endif %}
                    <div class="footer--column-content text-color--dark-gray">
                        {% block contact_section %}
                        <p>
                            +1 (415) 476-6922 <br />
                            <a href="mailto:placeholder@ucsf.org">placeholder@ucsf.org</a>
                        </p>
                        {% endblock %}
                        {% block address_section %}
                        <p>
                            UCSF Foundation <br />
                            UCSF Box 0248 <br />
                            San Francisco, CA 94143-0248
                        </p>
                        {% endblock %}
                        {% block tax_number_id %}
                        <p>Tax ID# 94-2829914</p>
                        {% endblock %}
                    </div>
                    <div class="footer--social-links">
                        {% block social_links %}
                            {% if footer.social_links.facebook %}
                                <div class="footer--social-link-item">
                                    <a href="{{ footer.social_links.facebook }}" title="Link to UCSF's Facebook Page" target="_blank"><span class="visually-hidden">UCSF's Facebook Page</span><i class="fa fa-facebook-official"></i></a>
                                </div>
                            {% endif %}
                            {% if footer.social_links.twitter %}
                                <div class="footer--social-link-item">
                                    <a href="{{ footer.social_links.twitter }}" title="Link to UCSF's Twitter Account" target="_blank">
                                        <span class="visually-hidden">UCSF's Twitter Account</span>
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>

        </div>
    </div>
    <div class="content-area footer--copyright">
        <div class="column-wrapper">
            <div class="footer--copyright-wrapper">
                {% block copyright_text_mobile %}
                <div class="footer--copyright-left footer--copyright-text xsmall--hidden">
                    © 2016 University of California San Francisco
                </div>
                {% endblock %}
                <div class="footer--copyright-right">
                    <div class="footer--copyright-links">
                        {% block footer_links %}
                        {% if footer.privacy %}
                            <div class="footer--copyright-link-item">
                                <a href="{{ footer.privacy.link }}">{{ footer.privacy.label }}</a>
                            </div>
                        {% endif %}
                        {% if footer.contact %}
                            <div class="footer--copyright-link-item">
                                <a href="{{ footer.contact.link }}">{{ footer.contact.label }}</a>
                            </div>
                        {% endif %}
                        {% endblock %}

                        <!-- <div class="footer--copyright-link-item">
                            +1 (415) 476-6922
                        </div> -->
                    </div>
                </div>
                {% block copyright_text %}
                {% if footer.copyright %}
                    <div class="footer--copyright-left footer--copyright-text xsmall--visible">
                        {{ footer.copyright }}
                    </div>
                {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
</footer>
