<div class="block--item block-item--impact-story-small {{ classes }}">
    <a href="{{ link }}">
        <div class="block--item-content">
            <div class="category background--{{ color }}">{{ category }}</div>
            <p class="date">{{ date }}</p>
            <p class="content_text">{{ text }}</p>
        </div>
    </a>
</div>