<div class="block block-featured--article-image">
	<div class="category background--{{ color }}">{{ category }}</div>
	<img src="{{ image }}" alt="">
	<a href="{{ link_href }}">
		<div class="featured--article-text">
			<p class="date">{{ date }}</p>
			<p class="featured--text">{{ text }}</p>
		</div>
	</a>
</div>


