<a {% if link %} href="{{ link }}" {% endif %} class="block--item block--impact-stories-panel">
    <div class="block--item-image-panel">
        <div class="image-display" style="background-image: url({{ image_url }});"></div>
    </div>
    <div class="block--item-colored-panel background--{{ color }}">
        <h4>{{ title }}</h4>
        <p>{{ copy_text }}</p>
        {% if link %}
            {% include '@molecules/01-text/07-text-with-icon.twig' with {
            "link_text" : "read story"
            } %}

        {% endif %}
    </div>
</a>
